<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.database.GroupMapper">
	<insert id="insertGroup" parameterType="GroupDTO">
		insert into p_group	values(#{g_name}, #{m_id}, #{c_name}, #{g_content}, #{g_start}, #{g_end}, #{g_member}, #{m_deal}, sysdate, #{g_file}, #{m_tank}, #{m_heal})
	</insert>
	<select id="selectGroup" parameterType="GroupDTO"
		resultType="GroupDTO">
		select * from p_group where g_num=#{g_num}
	</select>
	<select id="groupCheck" parameterType="String"
		resultType="boolean">
		select case when count(*)>0 then 1
		else 0
		end result
		from
		p_group where m_id=#{m_id}
	</select>
	<update id="updateGroup" parameterType="GroupDTO">
		update p_group set
		m_id=#{m_id}, c_num=#{c_num}, where g_num=#{g_num}
	</update>
	<select id="allGroup" resultType="GroupDTO">
		select * from p_group
	</select>
	<delete id="deleteGroup" parameterType="String">
		delete from p_group
		where
		g_name=#{g_name}
	</delete>
	<select id="groupList" resultType="GroupDTO">
		select * from p_group
	</select>
	<select id="groupList2" resultType="GroupDTO" parameterType="String">
		select * from p_group where g_name=#{g_name}
	</select>
		<select id="selectGroupAdmin" resultType="GroupDTO">
		select * from p_group where g_name=#{g_name}
	</select>
</mapper>